*{
    box-sizing: border-box;
}

h1{
    color: white;
    text-align: center;
    font-style: normal;
    font-size: 50px;
   
}
header{
    padding: 30px;
    background-color: rgb(17, 124, 143);
}

nav{
    background-color: #333;
    overflow: hidden;
    padding: 5px;
    text-align: center;
}
a{
    padding: 15px;
    color: white;
}

h2{
    color: white;
    text-align: center;
    font-style: normal;
    padding: 5px;
    background-color: #333;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h4{
    text-align: center;
    color: black;
    
}
h3{
    color: white;
    text-align: center;
    font-style: normal;
    padding: 5px;
    background-color: #333;
    
}

footer{
    background-color:#333;
    text-align: center;
    padding: 15px;
}

nav a:hover{
    background-color: black;
    color: royalblue;
}
main{
    background-color: rgba(241, 205, 1, 0.767);
    background-position: bottom;
    border-style: solid;
}
footer a:hover{
    background-color: black;
    color: royalblue;
}

header{
    border-style: solid;
}

p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

img{
    padding: 10px;
    background-color: aliceblue;
}

h5{
    text-align: center;
    font-family: Times New Roman, Times, serif;
    font-size: 20px;
}